body {
    font-family: 'Imprint MT Shadow';
    margin: 0;
    padding: 0 0 0 0;
    background-color: #99bfc7;
}

div#home.jumbotron.jumbotron-fluid{
    padding: 0;
    margin: 0;
}

    div.col-md-12.home1 {
        padding-left: 0;
        padding-right: 0;
    }

div#about.jumbotron.jumbotron-fluid {
    padding: 0 0 20 0;
    margin: 0;
}

    div.col-md-12.about1 {
        padding-right: 0;
        padding-left: 0;
    }

div#contact.jumbotron.jumbotron-fluid {
    padding: 0;
    margin: 0;
}

div#vendor.jumbotron.jumbotron-fluid {
    padding: 0 0 20 0;
    margin: 0;
}

.header {
    font-family: 'Imprint MT Shadow';
    text-align: center;
    padding: 10px 0 0 0;
    background-image: url("https://images.pexels.com/photos/7232830/pexels-photo-7232830.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

    .header-image{ 
        width: 50%;
        padding: 0 0 10px 0;
        margin: 0;
        z-index: 2;
    }

@media (max-width: 768px) {
    .header {
        padding: 5px 0 0 0;
    }

    .header-image {
        width: 100%;
        padding: 0 0 5px 0;
    }

}

.subtitles {
    display: block;
    justify-content: center;
    position: relative;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    background-color: #495c4c;
    z-index: 10;
    transition: top ease-in-out;
    width: 100%;
}

    .subtitles a {
        display: inline-block;
        font-size: 20px;
        margin: 10px 15px;
        text-decoration-line: underline;
        text-decoration-color: #e8ebed;
        text-shadow: 0.7px 0.7px black;
        color: #e8ebed;
        padding: 0 0 0 0;
        z-index: 1;
    }

    .subtitles-top {
        position: fixed;
        top: 0;
    }

    @media (max-width: 768px) {
        .subtitles a {
            font-size: 4vw;
            margin: 4.5px;
        }
    }

.home1 {
    font-family: 'Imprint MT Shadow';
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: relative;
    background-color: #665e59;
}

    .content-box1 {
        background-color: #cfcbc2;
        color: #332812;
        text-align: center;
        position: relative;
        padding: 17px;
        margin: 20px;

        border-radius: 10px;
        border-style: solid;
        border-color: #332812;
        width: 50%;
        max-width: 100%;
        z-index: 2;
    }

    .image1 {
        display: block;
        max-width: 50%;
    }

    @media (max-width: 768px) {
        .home1 {
            height: 400px;
        }

        .content-box1 {
            width: 100%;
            padding: 10px;
            margin: 0 15px 0 15px;
        }

        .image1 {
            display: none;
        }

        .content-box1 h2 {
            font-size: 1.7rem;
        }

        .content-box1 h5 {
            font-size: 1.2rem;
        }
    }

.about1 {
    font-family: 'Imprint MT Shadow';
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    margin: 0;
    position: relative;

    background-image: url("https://cdn.pixabay.com/photo/2020/10/21/04/01/leaves-5672036_1280.png");
    background-repeat: repeat;
    background-size: 100px;
    background-position: top;
    background-color: #d5dbd6;
}

    .content-box2 {
        border-block-color: #332812;
        border-block: solid;
        background-color: #d5dbd6;
        color: #332812;
        text-align: center;
        position: relative;
        justify-self: right;
        padding: 20px;
        margin: 15px;
        border-radius: 10px;
        width: 100%;
        max-width: 100%;
        z-index: 2;
    }

    .image2 {
        display: block;
        max-width: 60%;
        justify-self: left;
    }

    @media (max-width: 768px) {
        .about1 {
            height: 400px;
        }

        .content-box2 {
            width: 100%;
            padding: 10px;
            margin: 0 15px 0 15px;
        }

        .image2 {
            display: none;
        }
    }

.contact1 {
    font-family: 'Imprint MT Shadow';
    height: 600px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #857d6e;
    background-image: url("https://cdn.pixabay.com/photo/2023/04/09/05/23/leaves-7910755_1280.png");
    background-position: bottom;
    background-repeat: repeat;
    background-size: contain;
}

    .content-box3 {
        border-radius: 10px;
        border-color: #403c34;
        border-style: solid;
        background-color: #cfcbc2;
        color: #332812;
        text-align: center;
        position: relative;
        justify-self: center;
        padding: 20px;  
        z-index: 2;
    }

    @media (max-width: 768px) {
        .contact1 {
            height: 400px;
        }

        .content-box3 {
            width: 100%;
            padding: 15px;
            margin: 10;
        }

        .content-box3 h1 {
            font-size: 2rem;
        }

        .content-box3 h4 {
            font-size: 1.4rem;
        }
    }

.vendor1 {
    height: 600px;
    background-color: #7e967a;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
}
